/*
header: #59747b; //rgba(89, 116, 123, 100)
secondary: #3d4051; //rgba(61, 64, 81, 100)
background: #1f1f2d; //rgba(31, 31, 45, 100)
primary: #333f4c; //rgba(51, 63, 76, 100)
copy: #5d5e76; //rgba(93, 94, 118, 100)
*/

body {
    margin: 0;
}

.container {
    background-color: #1C2321;
    border-radius: 6px;
    width: 800px;
    height: 600px;
    border: 1px solid #26302D;
}

.top-sitting {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    background-color: #5E6572;
    padding: 4px 16px;
}

.header {
    font-family: 'Bariol';
    font-weight: bold;
    font-size: 2.0em;
    color: #EEF1EF;
}
